*{
    margin: 0;
}

nav{
    height: 50px;
    background-color: rgb(183, 247, 255);
}

header{
    height: 200px;
    background-color: rgb(137, 184, 255);
}

main{
    height: 800px;
    background-color: rgb(125, 155, 255);
}

.hijo_01{
    background-color: rgb(230, 255, 184);
    height: 200px;
    width: 200px;
    display: inline-block;
}

.hijo_02{
    background-color: rgb(195, 255, 176);
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.hijo_03{
    background-color: rgb(160, 255, 184);
    height: 200px;
    width: 200px;

}

a{
  margin: 0 auto;
  text-align: center;
  background-color: aquamarine;
}

footer{
    height: 150px;
    background-color: rgb(167, 144, 221);
}
