*{
    margin: 0;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(206, 253, 255);
}

.container{
    width:95%;
    height: auto;
    margin:0 auto;
}
   
/* barra de navegacion*/
nav{
    background-color: rgb(168, 203, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul{
    text-align: right;
}

nav li{
    display: inline-block;
    padding: 10px 50px;
    font-family:cursive;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgba(124, 95, 255, 0.89);
    border-bottom: 2px solid rgba(114, 95, 223, 0.678);
}

nav ul li a:active{
    color: rgb(0, 243, 12);
    font-size: 18px;
    font-style:oblique;
    border: 0;
}

.titulo_principal{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(127, 136, 255);

}
.parrafo_principal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(8, 8, 8);
    text-align: justify;
    line-height: 14px;
    font-size: 16px;
}

header{
    background: url(Imagenes/Slider.gif)center no-repeat;
    background-size:cover;
    height: 800px;
}
header h1{
    text-align: center;
    position: relative;
    top: 350px;
    left: 42%;
    font-family: cursive;
    border: dashed red;
    width: 300px;
    color:black ;
    text-decoration: none;
}

/*parrafo_01*/

.parrafo_tres{
    color: rgb(0, 0, 0);
    background-color: rgba(147, 93, 197, 0.377);
    width: 800px;
    height: 340px;
    padding: 0px auto;
    text-align: left;
    margin: 30px 0;
    border-radius:  50px 30px 10px 70px;
    padding: 10px 0px 10px 150px;
}

.parrafo_tres:hover{
    border-color:blueviolet rgb(105, 6, 124);
    border-width: 10px;
    border-style:dotted dashed ;
}

.parrafo_tres:hover{
    background-color: rgb(167, 167, 252);
}


.parrafo_imagen01{
    background-color: rgba(127, 255, 212, 0.616);
    background:url(Imagenes/Fondo.jpg) no-repeat center;
    background-size: cover;
    color: rgb(255, 255, 255);
    width: 30%;
    padding: 20px 17%;
    margin: 10px  auto;
    border-radius: 30px;
    box-shadow: 20px 15px 15px gray;
    cursor: pointer;
}

/*listas*/
.lista_01{
    list-style-type: square;
    list-style-image:url(Imagenes/logo\ css.png);
    list-style-position: inside;
}
/*tabla*/
.tabla_01{
    background-color: rgba(218, 255, 183, 0.568);
    border-collapse: separate;
    border-spacing: 20px 10px;
    width: 800px;
    text-align: center;
}

caption{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    caption-side: top;
    margin-bottom: 10px;
}

.tabla_fila{
    background-color: rgba(234, 199, 255, 0.753);
    height: 25px;
}

.tabla_columna{
    background-color: blueviolet;
    height: 50px;
    text-align: center;
    font-weight: bold;
}
/*ltablas*/



/* imagenes*/

.imagen_01{
    width: 450px;
    height: 350px;
    border: rgb(164, 139, 255) 5px dotted;
    border-radius: 40px;
    box-shadow: 6px 6px 12px rgb(63, 63, 63);
    cursor:none;
}

.whatssap{
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.imagen_02{
    width: 40%;
    border: #000000 0px solid;
    border-radius: 40px;
    box-shadow: 6px 6px 12px gray;
    float: right;
    margin: 10px 0px 10px 10px;
}

/* imagenes*/

/*video*/

video{
    border: rgb(4, 116, 168) 5px dashed;
}

/*video*/

.servicios_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20PX;
    margin-top: 50px;
}

.servicios_grid h3{
    text-align: center;
    font-size: 20px;
}

.servicios_grid img{
    margin: auto;
}

.servicios_grid p{
    line-height: 14px;
    font-size: 17px;
    text-align: justify;
    margin: 30px;
}

/*audios*/

.servicios_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin-top: 50px;
}
.servicios_1 audio{
    margin: auto;
}

.servicios_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.servicios_2 video{
    margin: auto;
}

.servicios_3{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}

.servicios_3 iframe{
    margin: auto;
}

/*footer*/
footer{
    background-color: rgba(144, 151, 255, 0.877);
    padding: 30px 0;
    margin-top: 30px;
    color:black;
}